.fondo1{
	background-color:#86509C;
}

.filaa1{
	margin-top: 5em;
}

.a1{
	color: white;
}


.a2{
	color: white;
	font-family: arial black;
	font-size: 2em;
}
.a{
	color: white;
	height:50px;
	width:200px;
	background-color: orange;
}
.fondo2{
	background-color: #86509C;
    font-size:40px;
}
.a5{
 	color:white;
 	margin: 0 auto;
 	border-radius:7px;
 	font-size: 20px;
  	width:220px;
 	height:50px;
 	background-color:#E97D4C; 

}

.imagens{
	width: 20%;
}

.fondo3{
	background-color: #17C2A2;

}

a{
	color:white;
	font-size: 20px;
		font-family:arial black;
}

p {
	color:white;
	font-size: 20px;
 
} 
.container{
	width:100%; 
}


.dp{
	width: 60%;
	height: 140px;
	margin-left: 20%;
}

.ima{
 color: white;
 font-size: 20px;
 font-family:arial black;
}
.i{
	color: white;
	font-size:15px;
}

.fondo4{
background-color:#E7F2F8;
}

.dfg{
color:black;
 font-family:arial black;
}
 .a6{
 	color:;
 	opacity:0.8; 
 }
 .rueda1{
 	width:90%;
 	height:90% ;
 }

 .asdf{
 	color:black;
 	 font-family:arial black;
 	 opacity: 0.7;
 	
 }
 .xeno{
 	color:#85C6DD;
 }
 .qf{
 	color:black;
 	opacity:0.6;
 }
 .fondo5 {
 	background-color:white;
 }

 .oto{
 	color:black;
 	font-family:arial black;
 }
 .helen{
 	color:black;
 	opacity: 0.6;
 	border-top: 200px;
 	border-left: 200px;
 }
 .jennier{
 	width:70%;
 	height: 70%;
 }

 .kas{
 	color:black;
 	font-family: arial black;
 	text-align: center;
 	opacity: 0.6;
 }
 .fondo6{
	background-color:#FFDC98;
}
.q{
	color: black;
	font-family: arial black;

}
.l{
	color:black;
	opacity: 0.6;
	text-align: center;
}

.kl{
	
	color:black;
	border:0 auto;
border-radius:8px;
 	font-size:20px;
  	width:100px;
 	height:50px;
 	background-color:#EBC884; 
 	opacity: 0.8;
 	
} 

.imo{
	height:200px; 
	width:250px;
}
.ima{
	height:200px; 
	width: 250px;
}
.tex{
	color: black;
	opacity: 0.6;
	text-align: center;
}
.imag{
	width:250px;
	height:230px; 
}
.im{
	width: 300px;
	height: 250px;
}
.botas{
	text-align: center;
	color: white;
	margin:0 auto;
 	border-radius:10px;
 	font-size: 20px;
  	width:295px;
 	height:50px;
 	background-color: #17C2A2; 

}
.fondo8{
	background-color:#D6477F; 
}
h1{
	color:white;
	text-align: center;
	font-size:30px; 
font-family:arial black;
}
h2{
	color:white; 
	text-align: center;
}
.ruedas{
	width: 150px;
	height: 150px;

}
.textos{
	color: white;
	opacity: 0.6;
}
.e{
	color:white;
	font-family:arial black;
	margin-left: 7%;

}
.los{
color:yellow;
margin-left: 7%;
opacity: 0.6;
}
.ce{
	color:yellow;
margin-left:15%;
opacity: 0.6;
}
.li{
		color:yellow;
margin-left:15%;
opacity: 0.6;

}
.fondo9{
	background-color: #3C549A;

}
.te{
	color: white;
	font-family: arial black;
	text-align: center;
}
h4{
	color: white;
	opacity: 0.6;
	text-align: center;

}
.eros{

	color: white;
	 margin-left:25%;
 	border-radius:10px;
 	font-size:15px;
  	width:295px;
 	height:50px;
 	background-color:#293974;

 }
 .mudo{
 	color: white;
	 margin-left:30%;
 	border-radius:15px;
 	font-size:20px;
  	width:500px;
 	height:150px;
 	background-color:#293974;
 }
 .asd{
 	color: white;
 	text-align: center;
 	background-color:#30BAE8; 
 	border-radius: 10px;
 	width:300px;
 	height: 70px;
 	margin: 0 auto;

 }

 .asp{
 	color:white;

 }

 .iconos{
 	height:20px; 
 	width:20px;
 	
 }

.wio{
	margin-top: 8em;
}